/* 1. 页面背景色 */
.page-bg {
  background-color: #ededed;
}
/* 2. 主背景色（原谅绿） */
.main-bg-color {
  background-color: #08c060;
}
.main-bg-hover-color {
  background-color: #08d869;
}
/* 3. 主文字色（原谅绿） */
.main-text-color {
  color: #08c060;
}

.border-main {
  border-color: #08c060 !important;
}

.bg-chat-item {
  background-color: #6bee68;
}
.text-chat-item {
  color: #6bee68;
}

.hover-light {
  background: #f7f7f7;
}
.hover-gray {
  background: #e7e7e7;
}
.hover-dark {
  background: #222222;
}
